/* Global variables */
:root {
  --light-white-color: #f8fafc;
  --yellow-color: #f5d565;
  --light-yellow-color: #f5e8d5;
  --orange-color: #e9a23b;
  --light-green-color: #a0ecb1;
  --green-color: #32d657;
  --light-red-color: #f7d4d3;
  --red-color: #dd524c;
  --light-grey-color: #e3e8ef;
  --dark-grey-color: #97a3b6;
  --blue-color: #3662e3;
  --grey-transparent-color: #00000033;
  --text-color: #030616;
  --light-text-color: #212936;
  --border-input-color: #cdd5e0;
  --delete-btn-color: #fef7ee;
  --modal-background: #ffffff;
}

/* Reset some defaults styling */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  color: var(--text-color);
}

img {
  display: block;
}

/* Reusable styles */
.task-list,
.task-list__item,
.task-list__texts,
.add-button,
.modal-task__header,
.modal-task__icons,
.modal-task__input-status label,
.modal-task__form,
.modal {
  display: flex;
}

/* Mobile First Approach */
/* App component*/
.app-container {
  box-sizing: border-box;
  max-width: 552px;
  margin: 2.75em auto;
}

/* Header component */
.header {
  margin-bottom: 3em;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 400;
}

.header__button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__description {
  display: inline-block;
  margin: 0.5em 0 0 3.2em;
  font-size: 1rem;
  font-weight: 300;
}

/* TaskList component */
.task-list {
  flex-direction: column;
  gap: 1.25em;
}

/* Task component */
.task-list__item {
  box-sizing: border-box;
  font-size: 1.25rem;
  align-items: center;
  column-gap: 1em;
  border-radius: 1em;
  padding: 0.8em;
}

.task-list__icon,
.task-state {
  box-sizing: border-box;
  padding: 0.6em;
  border-radius: 0.75em;
}

.task-list__icon {
  line-height: 1;
  background-color: var(--light-white-color);
}

.task-list__texts {
  flex-direction: column;
  gap: 0.4em;
  width: 100%;
}

.task-list__title {
  font-size: inherit;
  font-weight: 600;
}

.task-list__description {
  max-width: 60%;
  color: var(--light-text-color);
  font-size: 1rem;
  font-weight: 300;
}

.task-list__item .task-state {
  margin-left: auto;
}

/* Task - Modifiers */
.task-list__icon--align-start {
  align-self: flex-start;
}

/* Task Items Colors */
.task-list__item--completed {
  background-color: var(--light-green-color);
}

.task-list__item--progress {
  background-color: var(--yellow-color);
}

.task-list__item--canceled {
  background-color: var(--light-red-color);
}

.task-list__item--uninitialized {
  background-color: var(--light-grey-color);
}

/* Task States Colors */
.task-state__box--completed {
  background-color: var(--green-color);
}

.task-state__box--progress {
  background-color: var(--orange-color);
}

.task-state__box--canceled {
  background-color: var(--red-color);
}

/* AddNewTask component */
.add-button {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  width: 100%;
  align-items: center;
  column-gap: 1em;
  background-color: var(--light-yellow-color);
  border-radius: 1em;
  padding: 1em;
  border: none;
  margin-top: 1.25em;
  cursor: pointer;
}

.add-button__icon {
  background-color: var(--orange-color);
  padding: 0.75em;
  border-radius: 0.75em;
}

.add-button__title {
  font-size: inherit;
  font-weight: 600;
}

/* ModalTask component */
.modal {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--grey-transparent-color);
  position: absolute;
  padding: 1em;
}

.modal-task {
  max-width: 628px;
  background-color: var(--modal-background);
  font-size: 1rem;
  border-radius: 0.75em;
  padding: 1em;
}

.modal-task__header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.modal-task__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-task__close-modal {
  font-size: inherit;
  border: 1px solid var(--light-grey-color);
  background: none;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.modal-task__form {
  flex-direction: column;
  row-gap: 1.25em;
}

.modal-task__form-label,
.modal-task__subtitle {
  font-size: 0.75rem;
  color: var(--dark-grey-color);
  margin-bottom: 0.5em;
}

.modal-task__form-label {
  display: inline-block;
}

.modal-task__subtitle {
  font-weight: 400;
}

.modal-task__text-group input[type="text"],
.modal-task__text-group textarea {
  font-size: inherit;
  border: 1px solid var(--border-input-color);
  border-radius: 0.5em;
  padding: 0.75em;
  width: 100%;
  box-sizing: border-box;
}

.modal-task__text-group input[type="text"] {
  margin-bottom: 1.25em;
}

.modal-task__text-group textarea {
  height: 169px;
  resize: none;
  vertical-align: bottom;
}

.modal-task__icons {
  gap: 0.75em;
}

.modal-task__status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.75em;
  row-gap: 0.5em;
}

.modal-task__form-buttons .modal-task__form-btn:not(:last-child) {
  margin-right: 1em;
}

/* IconInput component */
.modal-task__input-icon {
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.6em;
  border-radius: 0.6em;
  background-color: var(--light-grey-color);
}

.modal-task__input-icon label {
  display: block;
  line-height: 1;
}

.modal-task__input-icon input[type="radio"],
.modal-task__input-status input[type="radio"] {
  display: none;
}

/* StatusInput component */
.modal-task__input-status {
  border: 2px solid var(--light-grey-color);
  border-radius: 0.75em;
  padding: 0.125em;
}

.modal-task__input-status label {
  align-items: center;
  column-gap: 0.75em;
}

/* FormButton component */
.modal-task__form-btn {
  font-size: 0.875em;
  display: inline-flex;
  align-items: center;
  column-gap: 0.8571428571em;
  border: none;
  padding: 0.5714285714em 1.7142857143em;
  color: var(--delete-btn-color);
  border-radius: 1.2857142857em;
  cursor: pointer;
}

.modal-task__form-btn:first-child {
  background-color: var(--dark-grey-color);
}

.modal-task__form-btn:nth-child(2) {
  background-color: var(--blue-color);
}

/* Breakpoints */
@media screen and (min-width: 601px) {
  /* ModalTask component */
  .modal {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 640px) {
  .app-container {
    margin: 2.75em;
  }
}
